@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, "Open sans", sans-serif;
    letter-spacing: 1.5px;
    background-color: white;
}

/* header */

header {
    width: 60%;
    font-size: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

#game-rules-btn {
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: white;
    background: #5AB252;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid rgb(6, 80, 6);
    box-shadow: 5px 5px 5px 2px rgb(175, 175, 243);

}

/* game section */

#game-container {
    width: 100%;
}

#popup-box {
    width: 280px;
    font-size: 70%;
    background-color: rgba(23, 209, 209, .6);
    padding: 10px;
    line-height: 20px;
    margin: 10px auto;
    border-radius: 10px;
    display: none;

}

.close-btn {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    float: right;
    color: black;
    
}

.header-left {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.sound-controls img {
    width: 25px;
}

#game-container {
    width: 100vw;
    background: url(../image/bkimg.jpg) center center no-repeat;
    height: 70vh;
    background-size: contain;

}

.match-box {
    padding: 0 15px;
    margin: 0 auto;

}

.match-box p,
.match-box h2 {
    font-size: 80%;
    text-align: center;
}

#choice-container {
    width: 150px;
    height: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px 5px rgb(231, 149, 91);



}

#choice-container>button {
    font-size: 150%;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(84, 84, 233);
    border: 3px solid #0e1bcc;
    color: rgb(238, 193, 135);
    cursor: pointer;
   
   
    
}

#choice-container>button:hover,
#choice-container>button:focus {
    transform: scale(1.2);
    color: #1623d6;
    background: rgba(23, 209, 209, .6);
}

.computer-choice-box h3,
.move-count-box h3 {
    text-align: center;
    font-size: 80%;


}

#computer-choice {
    width: 50px;
    height: 50px;
    background: rgba(23, 209, 209, .6);
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgb(156, 156, 238);
  
}

#computer-choice>button {
    width: 40px;
    height: 40px;
    font-size: 150%;
    border-radius: 50%;
  
    border: 3px solid #0e1bcc;
    color: #1623d6;
    cursor: pointer;
    margin: 0 auto;
}


.message-box,
.score-box {
    text-align: center;
    /* background: #717aee; */

}

.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.flex-item {
    width: 50px;
    height: 50px;
    background: #1f8516;
    opacity: .9;
    border-radius: 50%;
    margin: 8px;
    box-shadow: 0px 0px 5px 2px #f058bb;
}

.flex-item>p {
    font-size: 60%;
    color: white;
    font-weight: bold;
}

.restart-box {
    text-align: center;
   
}

#restart-btn {
    width: 80px;
    height: 30px;
    font-weight: bold;
    color: white;
    background: #4753f5;
    border: none;
    border-radius: 10px;
    border-bottom: 3px solid #091181;
    cursor: pointer;
    box-shadow: 5px 5px 5px 2px rgb(175, 175, 243);

}

#restart-btn:hover {
    background-color: rgb(181, 24, 202);
}

/* footer */

.copy-right-box {
    text-align: center;
    font-size: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.copy-right-box a {
    font-size: 120%;
    padding: 5px;
    color: #0917db;
}




/* media queries for screens larger than 899px */

@media (min-width: 899px) {
   

    /* header */
    header {
        width: 80%;
        font-size: 100%;
        flex-direction: row;

    }

    #game-rules-btn {
        width: 120px;
        height: 45px;
        font-size: 100%;
    }

    .sound-controls img {
        width: 45px;
    }

    /* game section */

    #popup-box {
        width: 450px;
        font-size: 100%;
    }

    #choice-container {
        width: 400px;
        height: 80px;
        margin: 35px auto;
    }

    #choice-container>button,
    #computer-choice>button {
        font-size: 300%;
        width: 80px;
        height: 80px;
    }

    .match-box p,
    .match-box h2 {
        font-size: 120%;
    }

    #computer-choice,
    .flex-item {
        width: 100px;
        height: 100px;
    }

    .flex-item {
        margin: 15px;
    }

    .computer-choice-box h3,
    .move-count-box h3,
    .flex-item p {
        
        font-size: 110%;

    }

    #restart-btn {
        width: 100px;
        height: 45px;
        font-size: 100%;    
    }

    /* footer */

    .copy-right-box {
        font-size: 100%;
    }

    .copy-right-box a {
        font-size: 150%;
    }
    
}