@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, "Open sans", sans-serif;
    letter-spacing: 1px;
    min-height: 100vh;
}

h2, h3, h4 {
    font-size: 13px;
    text-align: center;
}

/* header */

header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
    box-shadow: 0px 0px 8px 2px #bbbbf1;
}

header a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

#game-rules-btn {
    width: 150px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background: #128607;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    border-bottom: 5px solid rgb(6, 80, 6); 
    box-shadow: 3px 3px 3px 3px rgb(175, 175, 243);
}

#game-rules-btn:hover {
    padding-left: 25px;
    opacity: .9;
}

.header-left {
    width: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px 0;
}

.sound-controls img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.on {
    visibility: hidden;
}

/* game section */

#popup-box {
    width: 300px;
    font-size: 12px;
    background-color: rgba(23, 209, 209, .6);
    padding: 3px 0;
    line-height: 15px;
    margin: 10px auto;
    border-radius: 10px;
    display: none;

}

.close-btn {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    float: right;
    color: black;
    margin: 3px 8px 0 0;
    cursor: pointer;  
}

.close-btn:hover {
    color: white;
}

.match-box {
    margin: 20px auto;
}

.match-box p {
    font-size: 12px;
    text-align: center;
}

#choice-container {
    width: 180px;
    height: 25px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 8px 8px rgb(107, 109, 228);
}

#choice-container>button {
    font-size: 140%;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 8px;
    border-radius: 50%;
    background: rgb(99, 99, 248);
    border: 3px solid #1f2ce7;
    color: rgb(238, 211, 245);
    cursor: pointer;
    transition: transform 2s;
    transform-style: preserve-3d;
}

#choice-container>button:hover {
    transform: rotateY(180deg);

}
#choice-container>button:focus {
    transform: scale(1.2);
    color: #1623d6;
    background: rgba(23, 209, 209, .6);
}

.display-container-wrapper {
    width: 100%;
    background: url(../image/bckgd.jpg) center center no-repeat;
    height: 260px;
    background-size: contain;
    position: relative;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* visibility: hidden; */
}

#computer-choice {
    width: 45px;
    height: 45px;
    background: rgba(23, 209, 209, .6);
    margin: 5px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 4px rgb(107, 109, 228);
}

#computer-choice>button {
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 140%;
    border-radius: 50%;
    border: 3px solid #0e1bcc;
    color: #1623d6;
    cursor: pointer;
    margin: 0 auto;
}

.message-box {
    text-align: center;
    margin: 8px auto;
}

.score-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 60px;
    height: 60px;
    background: #128607;
    opacity: .9;
    border-radius: 50%;
    margin: 5px;
    /* box-shadow: 0px 0px 5px 2px #e79f18; */
}

.flex-item>p {
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.restart-box {
    text-align: center;
    margin-top: 20px;
}

#restart-btn {
    width: 90px;
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    background: #4753f5;
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid #091181;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(175, 175, 243);
}

#restart-btn:hover {
    background-color: rgb(181, 24, 202);
}

/* footer */

body > footer {
    height: 80px;
    box-shadow: 0px 0px 8px 2px #bbbbf1;
    position: sticky;
    top: 100vh; 
}

.copy-right-box {
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
}

.copy-right-box a {
    font-size: 20px;
    padding: 5px;
    color: #0917db;
    margin: 15px;
}

/* media queries for the background image on mobile screens sizes between 375px and 480px */

@media (min-width:375px) and (max-width:480px) {

    /* game section */

    .display-container-wrapper,
    .display-container {
        height: 300px;
    }
}

/* media queries for the background image on low resolution tablets and mobiles with screens between 481px and 651px */

@media (min-width:481px) and (max-width:651px) {

    /* game section */

     .display-container-wrapper {
         height: 350px;
     }
}

/* media queries for iPad and other tablets with screen sizes between 652px and 898px */

@media (min-width: 652px) and (max-width: 898px) {

    h2,
    h3,
    h4 {
        font-size: 18px;
    }

    /* header */
    header {
        flex-direction: row;
    }

    header a {
        font-size: 15px;
    }

    .header-left {
        width: 300px;
    }

    #game-rules-btn {
        width: 180px;
        height: 35px;
        font-size: 18px;
    }

    .sound-controls img {
        width: 30px;
        height: 30px;
    }

    /* game section */

    #popup-box {
        width: 500px;
        font-size: 18px;
        line-height: 25px;
    }

    #choice-container {
        width: 320px;
        height: 50px;
        margin: 25px auto;
    }

    #choice-container>button,
    #computer-choice>button {
        font-size: 200%;
        width: 55px;
        height: 55px;
    }

    .match-box p {
        font-size: 18px;
    }

    .display-container-wrapper {
        height: 500px;
    }

    #computer-choice {
        width: 70px;
        height: 70px;
        margin: 30px auto;
    }

    .message-box {
        margin: 20px;
    }

    .flex-item {
        width: 90px;
        height: 90px;
        margin: 15px;
    }

    .flex-item p,
    .message-box {
        font-size: 18px;

    }

    #restart-btn {
        width: 120px;
        height: 35px;
        font-size: 18px;
        margin-top: 30px;
    }

    /* footer */

    .copy-right-box {
        font-size: 15px;
    }

    .copy-right-box a {
        font-size: 25px;
    }
}

/* media queries for screens larger than 899px */

@media (min-width: 899px) {

    h2,
    h3,
    h4 {
        font-size: 20px;
    }

    /* header */
    header {
        flex-direction: row;
    }

    header a {
        font-size: 20px;
    }

    .header-left {
        width: 400px;
    }

    #game-rules-btn {
        width: 230px;
        height: 40px;
        font-size: 20px;
    }

    .sound-controls img {
        width: 35px;
        height: 35px;
    }

    /* game section */

    #popup-box {
        width: 550px;
        font-size: 20px;
        line-height: 30px;
    }

    #choice-container {
        width: 500px;
        height: 90px;
        margin: 35px auto;
    }

    #choice-container>button,
    #computer-choice>button {
        font-size: 300%;
        width: 80px;
        height: 80px;
    }

    .match-box {
        margin-top: 30px;
    }

    .match-box p {
        font-size: 20px;
    }

    .display-container-wrapper {
        height: 800px;
    }
    .display-container {
        height: 600px;
    }

    #computer-choice {
        width: 100px;
        height: 100px;
        margin: 40px auto;
    }

    .flex-item {
        width: 100px;
        height: 100px;
        margin: 15px;
    }
   
    .flex-item p,
    .message-box {
        font-size: 20px;
    }

    #restart-btn {
        width: 140px;
        height: 40px;
        font-size: 20px; 
        margin-top: 30px;   
    }

    /* footer */

    .copy-right-box {
        font-size: 18px;
    }

    .copy-right-box a {
        font-size: 28px;
    }  
}

/* media queries for the background image on screens from 1024px up to high resolution 4K */

@media (min-width: 1024px) {
     /* game section */
     .display-container-wrapper {
         height: 900px;
     }
     .display-container {
        height: 600px;
     }
}

@media (min-width: 1281px) {
     /* game section */
    .display-container-wrapper{
        height: 1000px;
    }
}

@media (min-width: 1599px) {
     /* game section */
    .display-container-wrapper{
        height: 1300px;
    }
}

@media (min-width: 1899px) {
    /* game section */
    .display-container-wrapper {
        height: 1500px;
    }
}



