@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, "Open sans", sans-serif;
    letter-spacing: 1px;
    background-color: white;
}

/* header */

header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;

}

header a {
    font-size: 50%;
    text-decoration: none;
    color: black;
}

#game-rules-btn {
    width: 80px;
    height: 22px;
    font-size: 60%;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    background: #5AB252;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid rgb(6, 80, 6);
    box-shadow: 3px 3px 3px 1px rgb(175, 175, 243);

}

.header-left {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.sound-controls img {
    width: 20px;
}

.on {
    visibility: hidden;
}

/* game section */

#game-container {
    width: 100%;
}

#popup-box {
    width: 280px;
    font-size: 60%;
    background-color: rgba(23, 209, 209, .6);
    padding: 3px 0;
    line-height: 12px;
    margin: 10px auto;
    border-radius: 10px;
    display: none;

}

.close-btn {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    float: right;
    color: black;
    margin: 3px 8px 0 0;
    cursor: pointer;
    
}

.close-btn:hover {
    color: white;
}



#game-container {
    width: 100vw;
    background: url(../image/bkimg.jpg) center center no-repeat;
    height: 70vh;
    background-size: contain;

}

.match-box {
    padding: 5px 15px;
    margin: 0 auto;

}

.match-box p,
.match-box h2 {
    font-size: 60%;
    text-align: center;
}

#choice-container {
    width: 140px;
    height: 20px;
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 5px 3px rgb(231, 149, 91);

}

#choice-container>button {
    font-size: 120%;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    background: rgb(84, 84, 233);
    border: 2px solid #0e1bcc;
    color: rgb(238, 193, 135);
    cursor: pointer;
   
}

#choice-container>button:hover,
#choice-container>button:focus {
    transform: scale(1.2);
    color: #1623d6;
    background: rgba(23, 209, 209, .6);
}

.display-container {
    visibility: hidden;
}

.computer-choice-box h3,
.move-count-box h3 {
    text-align: center;
    font-size: 60%;


}

#computer-choice {
    width: 45px;
    height: 45px;
    background: rgba(23, 209, 209, .6);
    margin: 10px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 3px rgb(94, 94, 221);
  
}

#computer-choice>button {
    width: 35px;
    height: 35px;
    padding: 5px;
    font-size: 120%;
    border-radius: 50%;
    border: 2px solid #0e1bcc;
    color: #1623d6;
    cursor: pointer;
    margin: 0 auto;
}


.message-box,
.score-box {
    text-align: center;
    /* background: #717aee; */

}

.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.flex-item {
    width: 45px;
    height: 45px;
    background: #1f8516;
    opacity: .9;
    border-radius: 50%;
    margin: 8px;
    /* box-shadow: 0px 0px 5px 2px #e79f18; */
}

.flex-item>p {
    font-size: 60%;
    color: white;
    font-weight: bold;
}

.restart-box {
    text-align: center;
   
}

#restart-btn {
    width: 60px;
    height: 22px;
    font-weight: bold;
    font-size: 60%;
    letter-spacing: 1px;
    color: white;
    background: #4753f5;
    border: none;
    border-radius: 10px;
    border-bottom: 3px solid #091181;
    cursor: pointer;
    box-shadow: 3px 3px 3px 1px rgb(175, 175, 243);

}

#restart-btn:hover {
    background-color: rgb(181, 24, 202);
}

/* footer */

.copy-right-box {
    text-align: center;
    font-size: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.copy-right-box a {
    font-size: 120%;
    padding: 5px;
    color: #0917db;
}




/* media queries for screens larger than 899px */

@media (min-width: 899px) {
   

    /* header */
    header {
        width: 80%;
        flex-direction: row;
    }

    header a {
        font-size: 100%;
    }

    #game-rules-btn {
        width: 130px;
        height: 40px;
        font-size: 100%;
    }

    .sound-controls img {
        width: 30px;
    }

    /* game section */

    #game-container {
        height: 80vh;
    }

    #popup-box {
        width: 420px;
        font-size: 100%;
        line-height: 20px;
    }

    #choice-container {
        width: 350px;
        height: 80px;
        margin: 35px auto;
    }

    #choice-container>button,
    #computer-choice>button {
        font-size: 300%;
        width: 80px;
        height: 80px;
    }

    .match-box p,
    .match-box h2 {
        font-size: 120%;
    }

    #computer-choice {
        width: 100px;
        height: 100px;
        margin: 40px auto;
    }

    .flex-item {
        width: 100px;
        height: 100px;
        margin: 15px;
    }

    .computer-choice-box h3,
    .move-count-box h3,
    .flex-item p {
        
        font-size: 110%;

    }

    #restart-btn {
        width: 100px;
        height: 40px;
        font-size: 100%; 
        margin-top: 30px;   
    }

    /* footer */

    .copy-right-box {
        font-size: 100%;
    }

    .copy-right-box a {
        font-size: 150%;
    }
    
}


/* media query for iPad and other tablets with screen sizes between 652px and 898px */

@media (min-width: 652px) and (max-width: 898px) {

    /* header */
    header {
        width: 80%;
        flex-direction: row;
    }

    header a {
        font-size: 70%;
    }

    #game-rules-btn {
        width: 90px;
        height: 28px;
        font-size: 70%;
    }

    /* game section */

    #popup-box {
        width: 350px;
        font-size: 70%;
        line-height: 15px;
    }

    #choice-container {
        width: 230px;
        height: 50px;
        margin: 25px auto;
    }

    #choice-container>button,
    #computer-choice>button {
        font-size: 200%;
        width: 55px;
        height: 55px;
    }

    .match-box p,
    .match-box h2 {
        font-size: 90%;
    }

    #computer-choice {
        width: 70px;
        height: 70px;
        margin: 30px auto;
    }

    .flex-item {
        width: 70px;
        height: 70px;
        margin: 15px;
    }

    .computer-choice-box h3,
    .move-count-box h3,
    .flex-item p { 
        font-size: 80%;

    }

    #restart-btn {
        width: 70px;
        height: 28px;
        font-size: 70%; 
        margin-top: 30px;   
    }

    /* footer */

    .copy-right-box {
        font-size: 80%;
    }

    .copy-right-box a {
        font-size: 120%;
    }
    
}